@use 'sass:color';
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: normal;
  max-height: 100vh;
}

main {
  margin: auto;
  margin-top: 0;
  padding-top: calc(58px + 1rem); /* Wegen Header */
  overflow: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.button-primary {
  background-color: $primary-color;
  color: $inverse-font-color;
  padding: 12px 25px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @media (min-width: 1024px) {
    padding: 15px 30px;
    font-size: 16px; /* Größere Buttons auf Desktops */
  }
}

.button-error {
  background-color: $error-color;
  color: $inverse-font-color;
  padding: 15px 25px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @media (min-width: 1024px) {
    padding: 15px 30px;
    font-size: 16px; /* Größere Buttons auf Desktops */
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: top;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}
